body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}

#header{
    display: block;
    width: 100vw;
    text-align: center;
    font-size: 3vh;
    color : white;
    background-color: red;
    object-fit: cover;
}

#imgcont > .image{
    height: 80vh;
    width: 49.442vh;
    object-fit: cover;
    object-position: 50% center;
}

#imgcredit {
    font-family: sans-serif;
    position: absolute;
    bottom: .4vh;
    width: fit-content;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 1vh;
}

#imgcredit > a:link {
    object-fit: cover;
    color: white;
    text-decoration: none;
}

#imgcredit > a:hover {
    object-fit: cover;
    color: cadetblue;
    text-decoration: none;
}

#gallery{
    display: flex;
    gap: 5vw;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
