body{
    width: 100%;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}

#header{
    display: block;
    position: absolute;
    width: 100lvw;
    text-align: center;
    font-size: 3dvh;
    color : white;
    background-color: red;
    object-fit: cover;
}

#imgcont{
    height: 80dvh;
    width: 49.442dvh;
}

#imgcont > .image{
    height: 80dvh;
    width: 49.442dvh;
    object-fit: cover;
    object-position: 50% center;
}

#imgcredit {
    font-family: sans-serif;
    position: absolute;
    bottom: .4dvh;
    width: fit-content;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 1dvh;
    z-index: 3;
    user-select: all;
}

#imgcredit > a:link {
    object-fit: cover;
    color: white;
    text-decoration: none;
}

#imgcredit > a:hover {
    object-fit: cover;
    color: cadetblue;
    text-decoration: none;
}

#gallery{
    display: flex;
    gap: 5lvw;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    user-select: none;
}

#imgoverlay{
    position: relative;
    width: 100%;
    height: 100.5%;
    bottom: 100.5%;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
    user-select: none;
}

a.filler{
    display: block;
    position: absolute;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 8dvh;
}