body{
    height: 100lvh;
    width: 100lvw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}

#header{
    display: block;
    width: 100lvw;
    text-align: center;
    font-size: 3lvh;
    color : white;
    background-color: red;
    object-fit: cover;
}

#imgcont > .image{
    height: 80lvh;
    width: 49.442lvh;
    object-fit: cover;
    object-position: 50% center;
}

#imgcredit {
    font-family: sans-serif;
    position: absolute;
    bottom: .4lvh;
    width: fit-content;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 1lvh;
}

#imgcredit > a:link {
    object-fit: cover;
    color: white;
    text-decoration: none;
}

#imgcredit > a:hover {
    object-fit: cover;
    color: cadetblue;
    text-decoration: none;
}

#gallery{
    display: flex;
    gap: 5lvw;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
