body{
    display: block;
    background-color: red;
    color: white;
    font-family: monospace;
    font-size: 8lvh;
}

#menu{
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 0;
    height: fit-content;
    width: 100%;
    font-size: 3lvh;
    z-index: 10;
    align-items: center;
    justify-content: space-around;
    font-family: Arial;
    background-color: black;
}

#menulinks{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    font-family: Arial;
    user-select: none;
}

#menulinks li{
    margin: 0 0;
    padding:0 0;
    list-style: none;
    height: 100%;
}

#menulinks .link{
    padding-top: 24px;
    height: 100%;
    text-decoration: none;
    color: whitesmoke;
    max-height: 100%;
}